/* .admin-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
  
    border-radius: 5px;
   
  }
  
  .admin-container h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .admin-container h2 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .admin-container input,
  .admin-container textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #020202;
    border-radius: 5px;
  }
  
  .admin-container button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .admin-container button:hover {
    background-color: #0056b3;
  }
  
  .admin-container ul {
    list-style: none;
    padding: 0;
  }
  
  .admin-container ci {
    margin-bottom: 20px;
  }
  
  .admin-container ci h3 {
    font-size: 18px;
    margin-bottom: 5px;
  }
  
  .admin-container ci p {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .admin-container ci button {
    padding: 5px 10px;
    background-color: #dc3545;
    color: hsl(0, 0%, 0%);
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .admin-container ci button:hover {
    background-color: #c82333;
  } */
  .admin-container {
    background: linear-gradient(135deg, #ff7e5f, #feb47b);
    /* Replace the colors with your desired gradient colors */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 100px;
}
