/* ProfilePage.css */

.profile-page {
    width: 50%;
    height: 90%vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom right, #4d94ff, #66ccff);
    color: #fff;
    padding: 100px;
    margin: 300px;
    margin-bottom: 200px;
  }
  
  .profile-details {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .profile-picture {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 20px;
  }
  
  .user-info {
    text-align: left;
  }
  
  .profile-actions button {
    background-color: transparent;
    border: 2px solid #fff;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    margin-right: 10px;
    cursor: pointer;
  }
  
  .profile-actions button:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
  