.div3 {
  background: linear-gradient(to right, #36d1dc,#5b86e5);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}

.len {
  width: 100px;
  height: 100px;
}

.login-box1 {
  width: 320px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
}

.login-box1 h2 {
  margin-bottom: 30px;
  color: #333;
}

.user-box1 {
  position: relative;
  margin-bottom: 30px;
}

.user-box1 input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #333;
  margin-bottom: 30px;
  border: none;
  outline: none;
  background: none;
  border-bottom: 1px solid #333;
}

.user-box1 label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #333;
  pointer-events: none;
  transition: 0.5s;
}

.user-box1 input:focus ~ label,
.user-box1 input:valid ~ label {
  top: -20px;
  left: 0;
  color: #007bff;
}

button[type="submit"] {
  width: 100%;
  background: #007bff;
  border: none;
  padding: 15px 0;
  cursor: pointer;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  transition: 0.5s;
}

button[type="submit"]:hover {
  background: #0056b3;
}

.error {
  color: red;
  margin-top: 10px;
}
