/* Navbar.css */
/* .navbar {
  background-color: #333;
  padding: 10px;
  top: 0;
  left:0;
 
}

.navbar-nav {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.nav-item {
  padding: 20px;
  margin-right: 10px;
}

.nav-link {
  color: #fff;
  text-decoration: none;
  padding: 5px 10px;
}

.nav-link:hover {
  background-color: #555;
}
#top{
  width:100%;
  height: 100vh;
  
}
   */

   .navbar {
    background: linear-gradient(to right, #9a4bb7, #182848); /* Gradient background */
    padding: 10px 20px; /* Add some padding */
    border-radius: 5px; /* Optional: Add border radius */
  }
  
  .navbar-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .nav-item {
    display: inline-block;
    margin-right: 15px;
  }
  
  .nav-link {
    color: white;
    text-decoration: none;
  }
  
  .search-box {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white background */
    color: #333;
  }
  
  #top {
    margin-top: 20px;
  }
  

